/* Variables (color palette) */
$text-color: #1e1e1e;
$grey-color: #ACACAC;
$text-secondary-color: #C7CAD6;
$bg-color: #E3E2E2;
$accent-color: #3492c8;

/* Other stuff (static margins and paddings or anything you'd like) */
$section-mr-md: 110px;
$section-mr-lg: 160px;