/* Variables (color palette and other stuff) */
$text-color: #373737;
$grey-color: #ACACAC;
$bg-color: #E3E2E2;
$accent-color: #D64A4A;

/* Other stuff */
$section-mr-md: 110px;
$section-mr-lg: 160px;