.projects {
    a {
        color: $text-color;
        text-decoration: none !important;

        &:hover {
            color: rgba($accent-color, 0.9);
        }
    }

    .project {
        height: 50px;
        border: 1px solid $grey-color;
        border-radius: 1px;
        margin-bottom: 14px;
        transition: 0.3s all ease;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;

        @include smaller(1200px) { padding: 50px 35px; }
        @include bigger(1200px) { padding: 70px 60px; }

        &:hover {
            cursor: pointer;
            background-color: rgba($text-color, 0.1);
        }

        p {
            margin: 0px;
            word-spacing: 100vw;
            text-transform: uppercase;
            text-align: center;
            font-weight: 600;
            letter-spacing: 2px;

            @include lg { font-size: 1.3vw; }
            @include xl { font-size: 1.4vmin; }
        }
    }


}