header {
    position: absolute;
    top: 50px;

    @include xs {
        right: 30px;
    }

    @include md {
        right: 80px;
    }

    .header-button {
        position: absolute;
        z-index: 4;
        right: 0px;
    }

    .close-button {
        border-radius: 100%;
        padding: 15px;
        background-color: rgb($text-secondary-color, 0.5);
    }

    .content {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15px;
        justify-content: flex-end;
    }

    .site-name {
        font-family: var(--GeneralSans-Medium);
        letter-spacing: 1px;
        font-weight: 600;
        color: rgba($text-color, .9);
        transition: all 0.2s ease;
        text-decoration: none;

        &:hover {
            color: rgba($text-color, 0.6);
            cursor: pointer;
            background-color: transparent;
            text-decoration: none;
        }
    }

    p {
        margin: 0;
    }

    a {
        display: flex;
        align-items: center;
        color: $text-color;
        background-color: transparent;
        border-radius: 50%;
        padding: 10px;

        &:hover {
            color: rgba($accent-color, 0.9);
            background-color: rgba($text-color, 0.1);
        }
    }

    svg {
        box-sizing: unset;
        width: 1.4rem;
        height: 1.4rem;
    }

    .sidebar {
        .sidebar-backdrop {
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            z-index: 1;
            pointer-events: none;
            background: $bg-color;
        }

        .sidebar-content {
            display: flex;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            z-index: 3;
            height: 100vh;
            overflow: auto;
            flex-direction: column;
            justify-content: center;

            .menu-container {
                padding: 0 30px 0 45px;
            }

            .menu-title {
                font-family: var(--GeneralSans-Medium);
                padding: 0 0 15px 0;
                color: rgba($text-color, .5);
                font-size: 16px;
            }

            .menu-item {
                padding: 4px 0;
                font-size: 42px;

                a {
                    font-family: var(--GeneralSans-Medium);
                    letter-spacing: -1px;
                }
            }

            a:hover {
                background-color: transparent;
            }
        }
    }
}