.lateral-menu {
    position: fixed;
    right: 0px;
    top: 50%;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    z-index: 0;

    @include xs {
        display: none;
    }

    @include md {
        display: flex;
        width: $section-mr-md;
    }

    @include lg {
        width: $section-mr-lg;
    }

    .square {
        width: 16px;
        height: 16px;
        border: 1px solid $text-color;
        background-color: transparent;
        transition: all 0.2s cubic-bezier(.17, .67, .83, .67);
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;

        &:hover {
            transform: rotate(45deg);
            background-color: rgba($grey-color, 0.5);
            border: 1px solid #b0afaf;
            cursor: pointer;
        }
    }

    .active-square {
        width: 16px;
        height: 16px;
        border: 1px solid #b0afaf;
        background-color: rgba($grey-color, 0.5);
        transform: rotate(45deg);
    }
}